<h1>Add a station</h1>

<%= form_for(@station) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
   <%= f.submit(:class => "btn btn-default") %>
<% end %>

