 <label for="food_name">Name</label>
  <input id="food_name" name="name" type="text">
  <label for="calories">Calories</label>
  <input id="calories" name="calories" type="text">
  <label for="carb_grams">Carb grams</label>
  <input id="carb_grams" name="carb_grams" type="text">
   <label for="protein_grams">Protein grams</label>
  <input id="protein_grams" name="protein_grams" type="text">
   <label for="fat_grams">Fat grams</label>
  <input id="fat_grams" name="fat_grams" type="text">
