<h1>Welcome To Bus Finder</h1>

<h2>Add Stations and Lines</h2>
<%= link_to "New Station", new_station_path, :class=> "btn btn-default" %>
<%= link_to "New Line", new_line_path, :class=> "btn btn-default" %>

<h2>View Stations and Lines</h2>
<%= link_to "View Stations", stations_path, :class=> "btn btn-default" %>
<%= link_to "View Lines", lines_path, :class=> "btn btn-default" %>




