<%= content_for(:title, "Community") %>

<div class="row">
  <h3> Click on a hacker to see their questions and answers </h3>
</div>
<div class="row">
<% User.all.each do |person| %>
  <%= person.username %>
<% end %>
</div>

