h1 {
  color: #F04155;
}

body {
  background: #FFF7BD;
}

.container {
  padding: 20px;
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
}

.table  {
  width: 40%;
  position: relative;
  display: block;
  text-align: center;
  background-color: #ffffff;
}
