
<div class="row">
  <div class="large-6 columns">
    <%= image_tag("coffeecup.png", height: '50%', width: '50%', class: "front_page_image") %>
  </div>  
  <div class="large-6 columns">
    <%= image_tag("coffeebr.png", height: '70%', width: '70%', class: "front_page_image") %>
    <h4>Text your order and send your friend on a coffee run.</h4>
    <%= link_to "Place an order", new_order_path, class: "button" %>
    <%= link_to "Fill an order", orders_path, class: "button" %>
  </div>
</div>
<br>
<br>
<div class="row">
  
</div>


