<label for="recipe_name">Recipe Name</label>
<input id="recipe_name" name="name" type="text" value="<%= @recipe_name %>">
</br>
<label for="recipe_contents">Type your recipe here:</label>
</br>
<textarea rows="8" cols="50" id="recipe_contents" name="contents" value="<%= @recipe_name %>"></textarea>
</br>
