<h1>New Recipes</h1>

<form action="/recipes" method="post">
  <!-- <label for="contributor_name">Please enter your name</label>
  <input id="contributor_name" name="contributor_name" type="text" value="<%= @contributor_name %>"> -->
  <select name="contributor_id">
    <% Contributor.all.each do |contributor| %>
      <option value="<%=contributor.id%>"><%= contributor.name %></option>
    <% end %>
  </select>
  </br>
  <%= render('form') %>
  <button>Create Recipe</button>
</form>
