<h1>{{name}}</h1>

<p>{{description}}</p>

{{#link-to 'new_task'}}Add a task{{/link-to}}

<p>{{#link-to 'edit_list' this}}Edit{{/link-to}}</p>
<p>{{#link-to 'lists'}}Return to homepage{{/link-to}}</p>
