<h1>Lessons</h1>

<ul>
  <% @lessons.each do |lesson| %>
    <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name%></a></li>
    <a href="/lessons/<%= lesson.id %>/edit">edit</a>
    <a href="/lessons/<%= lesson.id %>"
      data-confirm="Really?"
      data-method="delete"
      rel="nofollow">Delete</a>
  <% end %>
</ul>

<a href="/lessons/new">Add a new lesson</a>

