<h1>New Lesson</h1>

<form action="/lessons" method="post">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="name" type="text">
  <label for="lesson_text">Text</label>
  <input id="lesson_text" name="lesson_text" type="text">
  <button>Create Lesson</button>
</form>
