<h1>Portland Metro Wildlife Tracker</h1>

<p><strong>WARNING</strong>: Bigfoot has been spotted in the Portland metro area. We are advising all children and people under 100lbs to stay indoors.</p>

<h3>Search wildlife sightings by:</h3>

<ul>
  <li><a href="/species">Species</a></li>
  <li><a href="/regions">Region</a></li>
</ul>
