<div class="row">
  <div class="large-3 columns">Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter</div>
  <div class="large-6 columns"><h1>Welcome to Twitter</h1></div>
  <div class="large-3 columns">Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter Welcome to Twitter</div>
</div>

